Repository ardatan/graphql-tools, pull requests merged in 2018-04, with the labels that each got.

#705 Update Generating a Schema docs
  docs/source/generate-schema.md
Labels: docs

#706 fix typo in schema-directives.md
  CHANGELOG.md
  docs/source/schema-directives.md
Labels: docs

#730 Fix broken link in resolvers.md
  docs/source/resolvers.md
Labels: docs

#729 Correct outdated statement in generate-schema.md
  docs/source/generate-schema.md
Labels: docs

#742 Fix examples of delegateToSchema
  docs/source/schema-stitching.md
Labels: docs

#734 Add ability to supply custom createRemoteResolver to mRES
  CHANGELOG.md
  docs/source/remote-schemas.md
  src/stitching/index.ts
  src/stitching/makeRemoteExecutableSchema.ts
Labels: docs, feature

#747 Update schema-directives.md
  docs/source/schema-directives.md
Labels: docs

#527 Update mergeSchemas and delegation API, plus Schema Transfroms
  .npmignore
  .travis.yml
  CHANGELOG.md
  docs/_config.yml
  docs/source/schema-delegation.md
  docs/source/schema-stitching.md
  docs/source/schema-transforms.md
  package.json
  src/Interfaces.ts
  src/implementsAbstractType.ts
  src/index.ts
  src/isEmptyObject.ts
  src/isSpecifiedScalarType.ts
  src/mergeDeep.ts
  src/stitching/TypeRegistry.ts
  src/stitching/delegateToSchema.ts
  src/stitching/index.ts
  src/stitching/makeRemoteExecutableSchema.ts
  src/stitching/mergeSchemas.ts
  src/stitching/resolvers.ts
  src/stitching/schemaRecreation.ts
  src/stitching/typeFromAST.ts
  src/test/testAlternateMergeSchemas.ts
  src/test/testMergeSchemas.ts
  src/test/testTransforms.ts
  src/test/testingSchemas.ts
  src/test/tests.ts
  src/transforms/AddArgumentsAsVariables.ts
  src/transforms/AddTypenameToAbstract.ts
  src/transforms/CheckResultAndHandleErrors.ts
  src/transforms/ExpandAbstractTypes.ts
  src/transforms/ExtractField.ts
  src/transforms/FilterRootFields.ts
  src/transforms/FilterToSchema.ts
  src/transforms/FilterTypes.ts
  src/transforms/RenameRootFields.ts
  src/transforms/RenameTypes.ts
  src/transforms/ReplaceFieldWithFragment.ts
  src/transforms/TransformRootFields.ts
  src/transforms/WrapQuery.ts
  src/transforms/index.ts
  src/transforms/transformSchema.ts
  src/transforms/transforms.ts
  src/transforms/visitSchema.ts
Labels: schema stitching

#758 Fix broken link in schema-delegation.md
  docs/source/schema-delegation.md
Labels: docs
