Repository ardatan/graphql-tools, pull requests merged in 2018-06, with the labels that each got.

#849 Pass on operation name when stitching schemas
  CHANGELOG.md
  src/stitching/delegateToSchema.ts
Labels: feature

#841 Add `schemaDirectives` to `mergeSchemas`
  src/stitching/mergeSchemas.ts
Labels: feature

#828 Fix typo in attachDirectiveResolvers definition in the docs.
  docs/source/directive-resolvers.md
Labels: docs

#813 fix typo - Extract
  docs/source/schema-transforms.md
Labels: docs

#806 Fix mergeSchema error for fragments with field variables
  CHANGELOG.md
  src/test/testMergeSchemas.ts
  src/transforms/FilterToSchema.ts
Labels: blocking, bug, has-reproduction, schema-stitching

#866 Fix missing { in Schema Delegation docs
  docs/source/schema-delegation.md
Labels: docs
