Repository ardatan/graphql-tools, pull requests merged in 2018-10, with the labels that each got.

#978 fixed arbitrarily
  docs/source/schema-transforms.md
Labels: docs

#980 Fix invalid query in schema delegation example
  CHANGELOG.md
  docs/source/schema-delegation.md
Labels: docs

#977 Add support for passing parsed schema ast to mergeSchemas
  CHANGELOG.md
  docs/source/schema-stitching.md
  src/stitching/mergeSchemas.ts
  src/test/testMergeSchemas.ts
Labels: feature

#982 Add docs for mockServer
  CHANGELOG.md
  docs/source/mocking.md
Labels: docs

#985 Fix regression where custom scalars are incorrectly replaced
  CHANGELOG.md
  src/stitching/schemaRecreation.ts
  src/test/testSchemaGenerator.ts
Labels: bug
