Repository ardatan/graphql-tools, pull requests merged in 2018-07, with the labels that each got.

#880 Fix example usage of RenameRootFields transform
  docs/source/schema-stitching.md
Labels: docs

#911 Update link to context documentation
  docs/source/resolvers.md
Labels: docs

#904 Fix wrong parameter in enum example.
  docs/source/scalars.md
Labels: docs

#893 Schema directives: fix typo
  docs/source/schema-directives.md
Labels: docs

#896 Fix IResolvers type
  CHANGELOG.md
  src/Interfaces.ts
Labels: blocking, feature

#757 Test that multiple fields can be added to a single type when stitching
  src/test/testMergeSchemas.ts
Labels: schema stitching

#812 Add inheritResolversFromInterfaces option - mergeSchemas
  CHANGELOG.md
  docs/source/schema-stitching.md
  src/stitching/mergeSchemas.ts
  src/test/testAlternateMergeSchemas.ts
Labels: feature

#885 Fixes issue #876, mirror delegateToSchema behavior for standalone
  CHANGELOG.md
  src/Interfaces.ts
  src/stitching/delegateToSchema.ts
  src/stitching/mergeSchemas.ts
  src/test/testDelegateToSchema.ts
  src/test/testingSchemas.ts
  src/test/tests.ts
Labels: bug, has-reproduction, schema-stitching

#795 Enable schema transforms on subscriptions
  CHANGELOG.md
  src/stitching/delegateToSchema.ts
  src/stitching/mapAsyncIterator.ts
  src/test/testMergeSchemas.ts
  src/test/testingSchemas.ts
Labels: feature

#817 Use casual for mocking
  CHANGELOG.md
  docs/source/mocking.md
  package.json
  src/Interfaces.ts
  src/mock.ts
  src/test/testMocking.ts
Labels: enhancement, waiting on contributor
